<div class="row">
  <div class="col-md-2 offset-md-1"><h3>Skills</h3></div>
  <div class="col-md-8 offset-md-1">
    <div class="row">
      <div class="col">
        <h4>Languages</h4>
        <ul class="list-unstyled">
          <li>JavaScript (ES6)</li>
          <li>jQuery</li>
          <li>TypeScript</li>
          <li>CSS / Sass</li>
          <li>C#</li>
          <li>PHP</li>
        </ul>
      </div>
      <div class="col">
        <h4>Frameworks</h4>
        <ul class="list-unstyled">
          <li>Angular</li>
          <li>Laravel</li>
          <li>MVC</li>
          <li>Bootstrap</li>
          <li>MDC</li>
        </ul>
      </div>
      <div class="col">
        <h4>Tools</h4>
        <ul class="list-unstyled">
          <li>Postman</li>
          <li>Chrome Dev Tools</li>
          <li>Git & Github</li>
          <li>DevOps</li>
          <li>JIRA, Asana, Notion</li>
        </ul>
      </div>
      <div class="col">
        <h4>Misc</h4>
        <ul class="list-unstyled">
          <li>Hyper-Learner</li>
          <li>Bridge Builder</li>
          <li>Leadership Skills</li>
          <li>Taco Sommelier</li>
          <li>Boba Fiend</li>
        </ul>
      </div>
    </div>
  </div>
</div>
