<div class="container">
  <div class="row">
    <div class="col">
      <h1>
        Well,<br />Hello There
        <span>My name is Joseph Villajin</span>
      </h1>
      <p class="lead">This is a lead paragraph</p>
      <button type="button" class="btn btn-primary">CTA</button>
    </div>
    <div class="col">
      <ul>
        <li>Twitter</li>
        <li>Github</li>
        <li>Instagram</li>
        <li>
          <a href="mailto:hello@josephvillajin.com" class="text-uppercase"
            >hello@josephvillajin.com</a
          >
        </li>
      </ul>
    </div>
  </div>
</div>
